<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Admin panel</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div hidden="userId" id="authorizedID" th:text="${thisuser.id}"></div>
                <div class="row bg-dark align-items-center">
                    <div class="col-lg-1 w-auto">
                        <span class="text-white bg-dark fw-bold" id="headEmail"></span>
                    </div>
                    <div class="col-lg-3 w-auto">
                        <span> </span>
                        <span class="text-white bg-dark">with roles: </span>
                        <span class="text-white bg-dark" id="headRole"></span>
                    </div>
                    <div class="col-lg-7">
                    </div>
                    <div class="col-lg-1 w-auto">
                        <form action="/logout" method="post">
                            <input type="submit" class="btn btn-dark text-white-50 bg-dark text-end" value="Logout"/>
                        </form>
                    </div>
                </div>
            </header>
            <main>
                <div class="row vh-100">
                    <div class="col-lg-2">
                        <br>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item text-start"><a class="nav-link active" aria-current="page" href="#">Admin</a></li>
                            <li class="nav-item text-start"><a class="nav-link" href="/user">User</a></li>
                        </ul>                       
                    </div>
                    <div class="col-lg-10 bg-light h-100 d-inline-block">
                        <br>
                            <h1>Admin panel</h1>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="userTables" data-bs-toggle="tab" data-bs-target="#admin" type="button" role="tab" aria-controls="home" aria-selected="true">Users  table</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="addNewUser "data-bs-toggle="tab" data-bs-target="#addNewUser" type="button" role="tab" aria-controls="profile" aria-selected="false">New User</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-striped bg-body">
                                        <h3>All users</h3>
                                        <thead>
                                            <tr class="align-middle">
                                                <th>Id</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Roles</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableUsers"></tbody>  
                                        <div class="modal fade" id="edit-modal" data-user tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                    </div>
                                                    <form id="editUserForm">
                                                        <div class="modal-body">
                                                            <fieldset>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Id</label>
                                                                    <input class="form-control" type="number" name="id" id="edit-id" disabled>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">User name</label>
                                                                    <input class="form-control" type="text" name="username" id="edit-username">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Last name</label>
                                                                    <input class="form-control" type="text" name="lastName" id="edit-lastname">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Age</label>
                                                                    <input class="form-control" type="number" name="age" id="edit-age">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Email</label>
                                                                    <input class="form-control" type="email" name="email" id="edit-email">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Password</label>
                                                                    <input class="form-control" type="password" name="password" id="edit-password">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Roles</label>
                                                                    <select class="form-select" name="roles" multiple id="edit-roles">
                                                                        <option value="1">USER</option>
                                                                        <option value="2">ADMIN</option>
                                                                    </select> 
                                                                </div>
                                                            </fieldset>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="modal fade" id="delete-modal" data-user tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete user</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                    </div>
                                                    <form id="deleteUserForm">
                                                        <div class="modal-body">
                                                            <fieldset disabled>
                                                                <div class="mb-3">
                                                                    <label class="form-label">User name</label>
                                                                    <input class="form-control" type="text" id="delete-username">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Last name</label>
                                                                    <input class="form-control" type="text" id="delete-lastname">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Age</label>
                                                                    <input class="form-control" type="number" id="delete-age">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Email</label>
                                                                    <input class="form-control" type="email" id="delete-email">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Roles</label>
                                                                    <select class="form-select" multiple id="delete-roles"></select> 
                                                                </div>
                                                            </fieldset>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Delete</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </table>  
                                </div>
                                <div class="tab-pane fade" id="addNewUser" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="container">
                                        <div class="row">
                                            <h3>Add new user</h3>
                                        </div>
                                        <div class="row bg-body">
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-4 d-flex justify-content-center d-flex align-items-center">
                                                <form id="addUserForm">
                                                    <div class="mb-3">
                                                        <span>User name</span>
                                                        <input type="text" name="username" class="form-control" placeholder="Username">                              
                                                    </div>
                                                    <div class="mb-3">
                                                        <span>Last name</span>
                                                        <input type="text" name="lastName" class="form-control" placeholder="Lastname">                              
                                                    </div>
                                                    <div class="mb-3">
                                                        <span>Age</span>
                                                        <input type="number" name="age"class="form-control" placeholder="Age">                              
                                                    </div>
                                                    <div class="mb-3">
                                                        <span>Email</span>
                                                        <input type="email" name="email" class="form-control" placeholder="Email">                              
                                                    </div>
                                                    <div class="mb-3">
                                                        <span>Password</span>
                                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                                    </div>                                  
                                                    <div>
                                                        <span>Role</span>
                                                        <select class="form-select" multiple name="roles">
                                                            <option value="1">USER</option>
                                                            <option value="2">ADMIN</option>
                                                        </select>      
                                                    </div>
                                                        <br>
                                                        <button type="submit" class="btn btn-success">Add new user</button>                          
                                                </form>
                                            </div>
                                            <br><br><br><br><br>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="users.js"></script>
    </body>
</html>